@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
  --gold: #d4af37; /* Espresso Gold */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gold: var(--gold);
  --font-sans: var(--font-inter); 
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}
